body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.container {
  display: grid;
  grid-template-rows: 60% auto;
  width: 600px;
  height: 350px;
  background-color: salmon;
  border: 1px solid green;
  

  /* margin: 0 auto; */
}

#new-quote {
  color: red;
  font-weight: 800;
}